# Numpy: Operations with multidimensional data

This notebook is based (with some modifications) on a [NumPy tutorial](https://github.com/jrjohansson/scientific-python-lectures/blob/master/Lecture-2-Numpy.ipynb) by J.R. Johansson

In [ ]:
# Import MatPlotlib so we can look at some pretty plots
# The reson for doing this will become clear in out MatPlotLib lecture next week
%matplotlib inline
import matplotlib.pyplot as plt

## Introduction

-------

The numpy package (module) is used in almost all numerical computation using Python. It is a package that provide high-performance vector, matrix and higher-dimensional data structures for Python. It is implemented in C and Fortran so when calculations are vectorized (formulated with vectors and matrices), performance is very good.

To use numpy you need to import the module, using for example:

In [ ]:
from numpy import *

In the numpy package the terminology used for vectors, matrices and higher-dimensional data sets is array.

## Creating numpy arrays

-------

There are a number of ways to initialize new numpy arrays, for example from

 - a Python list or tuples
 - using functions that are dedicated to generating numpy arrays, such as arange, linspace, etc.
 - reading data from files

### From lists
For example, to create new vector and matrix arrays from Python lists we can use the `numpy.array` function.

In [ ]:
# a vector: the argument to the array function is a Python list
vector = array([1,2,3,4])

vector

In [ ]:
# a matrix: the argument to the array function is a nested Python list
matrix = array([[1, 2], [3, 4]])

matrix

The `v` and `M` objects are both of the type ndarray that the numpy module provides:

In [ ]:
type(vector), type(matrix)

The difference between the v and M arrays is only their shapes. We can get information about the shape of an array by using the `ndarray.shape` property:

In [ ]:
vector.shape

In [ ]:
matrix.shape

The number of elements in the array is available through the `ndarray.size` property:

In [ ]:
matrix.size

Equivalently, we could use the function `numpy.shape` and `numpy.size`:

In [ ]:
shape(matrix)

In [ ]:
size(matrix)

So far the `numpy.ndarray` looks awefully much like a Python list (or nested list). Why not simply use Python lists for computations instead of creating a new array type?

There are several reasons:

 - Python lists are very general. They can contain any kind of object. They are dynamically typed. They do not support mathematical functions such as matrix and dot multiplications, etc. Implementing such functions for Python lists would not be very efficient because of the dynamic typing.
 - Numpy arrays are **statically typed** and **homogeneous**. The type of the elements is determined when the array is created.
 - Numpy arrays are memory efficient.
 - Because of the static typing, fast implementation of mathematical functions such as multiplication and addition of numpy arrays can be implemented in a compiled language (C and Fortran is used).
Using the `dtype` (data type) property of an ndarray, we can see what type the data of an array has:

In [ ]:
matrix.dtype

We get an error if we try to assign a value of the wrong type to an element in a numpy array:

In [ ]:
matrix[0,0] = "hello"

If we want, we can explicitly define the type of the array data when we create it, using the `dtype` keyword argument:

In [ ]:
matrix = array([[1, 2], [3, 4]], dtype=float)

matrix

Common data types that can be used with dtype are: `int`, `float`, `complex`, `bool`, etc.

We can also explicitly define the bit size of the data types, for example: `int64`, `int16`, `float128`, `complex128`.

### Using array-generating functions
For larger arrays it is inpractical to initialize the data manually, using explicit python lists. Instead we can use one of the many functions in numpy that generate arrays of different forms. Some of the more common are:

**`arange`**

In [ ]:
# create a range

x = arange(0, 10, 1) # arguments: start, stop, step

x

In [ ]:
x = arange(-1, 1, 0.1)

x

**`linspace`** and **`logspace`**

In [ ]:
# using linspace, both end points ARE included
linspace(0, 10, 25)

In [ ]:
logspace(0, 10, 10, base=e)

**`mgrid`**

In [ ]:
x, y = mgrid[0:5, 0:5]

In [ ]:
x

In [ ]:
y

**random data**

In [ ]:
from numpy import random

In [ ]:
# uniform random numbers in [0,1]
random.rand(5,5)

In [ ]:
# standard normal distributed random numbers
random.randn(5,5)

In [ ]:
import seaborn as sns

In [ ]:
# Let's plot uniform distribution

x = random.rand(1000)
sns.set_style('whitegrid')
sns.distplot(x)

In [ ]:
# Let's plot normal distribution

x = random.randn(100000)
sns.set_style('whitegrid')
sns.distplot(x)

In [ ]:
# Let's plot poisson distribution

x = random.poisson(5, 1000)
sns.set_style('whitegrid')
sns.distplot(x)

**`diag`**

In [ ]:
# a diagonal matrix
diag([1,2,3])

In [ ]:
# diagonal with offset from the main diagonal
diag([1,2,3], k=1)

**zeroes** and **ones**

In [ ]:
zeros((3,3))

In [ ]:
ones((3,3))

## File IO

### Comma-separated values (CSV)
A very common file format for data files is comma-separated values (CSV), or related formats such as TSV (tab-separated values). To read data from such files into Numpy arrays we can use the `numpy.genfromtxt` function. For example:

In [ ]:
!wget https://raw.githubusercontent.com/jrjohansson/scientific-python-lectures/master/stockholm_td_adj.dat

In [ ]:
!head stockholm_td_adj.dat

In [ ]:
data = genfromtxt('stockholm_td_adj.dat')

In [ ]:
data.shape

In [ ]:
fig, ax = plt.subplots(figsize=(14,4))
ax.plot(data[:,0]+data[:,1]/12.0+data[:,2]/365, data[:,5])
ax.axis('tight')
ax.set_title('tempeatures in Stockholm')
ax.set_xlabel('year')
ax.set_ylabel('temperature (C)');

Using `numpy.savetxt` we can store a Numpy array to a file in CSV format:

In [ ]:
M = random.rand(3,3)

M

In [ ]:
savetxt("random-matrix.csv", M)

In [ ]:
!cat random-matrix.csv

In [ ]:
savetxt("random-matrix.csv", M, fmt='%.5f') # fmt specifies the format

!cat random-matrix.csv

### Numpy's native file format
Useful when storing and reading back numpy array data. Use the functions `numpy.save` and `numpy.load`:

In [ ]:
save("random-matrix.npy", M)

!ls -lh *

## Manipulating arrays
--------

### Indexing
We can index elements in an array using square brackets and indices:

In [ ]:
# vector, and has only one dimension, taking one index
vector[0]

In [ ]:
# matrix is a 2 dimensional array, taking two indices 
matrix[1,1]

If we omit an index of a multidimensional array it returns the whole row (or, in general, a `N-1` dimensional array)

In [ ]:
matrix

In [ ]:
matrix[1]

The same thing can be achieved with using `:` instead of an index:

In [ ]:
matrix[1,:] #row 1

In [ ]:
matrix[:,1] #column 1

We can assign new values to elements in an array using indexing:

In [ ]:
matrix[1,1] = 1

In [ ]:
matrix

In [ ]:
# also works for rows and columns
matrix[1,:] = 0
matrix[:,1] = -1

In [ ]:
matrix

### Index slicing

Index slicing is the technical name for the syntax `M[lower:upper:step]` to extract part of an array:

In [ ]:
A = array([1,2,3,4,5])
A

In [ ]:
A[1:3] = [-2,-3]

A

In [ ]:
A[::] # lower, upper, step all take the default values

In [ ]:
A[::2] # step is 2, lower and upper defaults to the beginning and end of the array

In [ ]:
A[:3] # first three elements

In [ ]:
A[3:] # elements from index 3

Negative indices counts from the end of the array (positive index from the begining):

In [ ]:
A = array([1,2,3,4,5])

In [ ]:
A[-1] # the last element in the array

In [ ]:
A[-3:] # the last three elements

Index slicing works exactly the same way for multidimensional arrays:

In [ ]:
A = array([[n+m*10 for n in range(5)] for m in range(5)])

A

In [ ]:
# a block from the original array
A[1:4, 1:4]

In [ ]:
# strides
A[::2, ::2]

### Fancy indexing
Fancy indexing is the name for when an array or list is used in-place of an index:

In [ ]:
row_indices = [1, 2, 3]
A[row_indices]

In [ ]:
col_indices = [1, 2, -1] # remember, index -1 means the last element
A[row_indices, col_indices]

We can also use index masks: If the index mask is an Numpy array of data type `bool`, then an element is selected (True) or not (False) depending on the value of the index mask at the position of each element:

In [ ]:
B = array([n for n in range(5)])
B

In [ ]:
row_mask = array([True, False, True, False, False])
B[row_mask]

In [ ]:
# same thing
row_mask = array([1,0,1,0,0], dtype=bool)
B[row_mask]

This feature is very useful to conditionally select elements from an array, using for example comparison operators:

In [ ]:
x = arange(0, 10, 0.5)
x

In [ ]:
mask = (5 < x) * (x < 7.5)
mask

In [ ]:
x[mask]

In [ ]:
( 5 < x ) * (x < 7.5)

### Functions for extracting data from arrays and creating arrays

#### where
The index mask can be converted to position index using the where function

In [ ]:
indices = where(mask)

indices

In [ ]:
x[indices] # this indexing is equivalent to the fancy indexing x[mask]

####diag
With the diag function we can also extract the diagonal and subdiagonals of an array:

In [ ]:
A

In [ ]:
diag(A)

In [ ]:
diag(A, -1)

#### take
The `take` function is similar to fancy indexing described above:

In [ ]:
v2 = arange(-3,3)
v2

In [ ]:
row_indices = [1, 3, 5]
v2[row_indices] # fancy indexing

In [ ]:
v2.take(row_indices)

But take also works on lists and other objects:

In [ ]:
take([-3, -2, -1,  0,  1,  2], row_indices)

####choose
Constructs an array by picking elements from several arrays:

In [ ]:
which = [1, 0, 1, 0]
choices = [[1,2,3,4], [-1,-2,-3,-4]]

choose(which, choices)

## Linear algebra
--------
Vectorizing code is the key to writing efficient numerical calculation with Python/Numpy. That means that as much as possible of a program should be formulated in terms of matrix and vector operations, like matrix-matrix multiplication.

### Scalar-array operations
We can use the usual arithmetic operators to multiply, add, subtract, and divide arrays with scalar numbers.

In [ ]:
v1 = arange(0, 5)

In [ ]:
v1

In [ ]:
v1 * 2

In [ ]:
v1 + 2

In [ ]:
A

In [ ]:
A * 2

In [ ]:
A + 2

### Element-wise array-array operations
When we add, subtract, multiply and divide arrays with each other, the default behaviour is element-wise operations:

In [ ]:
v1 * v1

In [ ]:
A * A

If we multiply arrays with compatible shapes, we get an element-wise multiplication of each row:

In [ ]:
A.shape

In [ ]:
v1.shape

In [ ]:
v1

In [ ]:
A

In [ ]:
A * v1

In [ ]:
v1 * A

### Matrix algebra
What about matrix mutiplication? There are two ways. We can either use the dot function, which applies a matrix-matrix, matrix-vector, or inner vector multiplication to its two arguments:

Dot multiplication:

$a\cdot b=\sum_{i=1}^n a_n b_n = a_1 b_1 + a_2 b_2 + ... + a_n b_n$

In [ ]:
A

In [ ]:
dot(A,A)

In [ ]:
t = array([[1,2],[3,4]])

In [ ]:
t

In [ ]:
dot(t,t)

In [ ]:
z = array([1,2,3])
dot(z,z)

In [ ]:
dot([1,2],[1,3])

In [ ]:
v1

In [ ]:
dot(A,v1)

In [ ]:
from numpy.linalg import *

In [ ]:
A

In [ ]:
a = array([[[1., 2.], [3., 4.]], [[1, 3], [3, 5]]])

### Data processing
Often it is useful to store datasets in Numpy arrays. Numpy provides a number of functions to calculate statistics of datasets in arrays.

For example, let's calculate some properties from the Stockholm temperature dataset used above.

In [ ]:
# reminder, the tempeature dataset is stored in the data variable:
shape(data)

####mean

In [ ]:
# the temperature data is in column 3
mean(data[:,3])

The daily mean temperature in Stockholm over the last 200 years has been about 6.2 C.

#### SD and variance

In [ ]:
std(data[:,3]), var(data[:,3])

####min and max

In [ ]:
# lowest daily average temperature
data[:,3].min()

In [ ]:
# highest daily average temperature
data[:,3].max()

#### sum, prod, and trace

In [ ]:
d = arange(0, 10)
d

In [ ]:
# sum up all elements
sum(d)

In [ ]:
# product of all elements
prod(d+1)

In [ ]:
d+1

In [ ]:
# cummulative product
cumprod(d+1)

In [ ]:
# same as: diag(A).sum()
trace(A)

### Calculations with higher-dimensional data
When functions such as min, max, etc. are applied to a multidimensional arrays, it is sometimes useful to apply the calculation to the entire array, and sometimes only on a row or column basis. Using the axis argument we can specify how these functions should behave:

In [ ]:
m = random.rand(3,3)
m

In [ ]:
# global max
m.max()

In [ ]:
# max in each column
m.max(axis=0)

In [ ]:
# max in each row
m.max(axis=1)

Many other functions and methods in the array and matrix classes accept the same (optional) axis keyword argument.

## Reshaping, resizing and stacking arrays
----------
The shape of an Numpy array can be modified without copying the underlaying data, which makes it a fast operation even for large arrays.

In [ ]:
A

In [ ]:
A.shape

In [ ]:
n, m = A.shape

In [ ]:
B = A.reshape((1,n*m))

In [ ]:
B

In [ ]:
B[0,0:5] = 5

In [ ]:
B

In [ ]:
A

We can also use the function `flatten` to make a higher-dimensional array into a vector. But this function create a copy of the data.

In [ ]:
B = A.flatten()

B

In [ ]:
B[0:5] = 10

B

In [ ]:
A

### Adding a new dimension: newaxis
With `newaxis`, we can insert new dimensions in an array, for example converting a vector to a column or row matrix:

In [ ]:
v = array([1,2,3])

In [ ]:
shape(v)

In [ ]:
# make a column matrix of the vector v
v[:, newaxis]

In [ ]:
v[newaxis,:]

In [ ]:
v[newaxis,:].shape

### Stacking and repeating arrays
Using function `repeat`,`tile`, `vstack`, `hstack`, and `concatenate` we can create larger vectors and matrices from smaller ones:

####tile and repeat

In [ ]:
a = array([[1, 2], [3, 4]])

In [ ]:
# repeat each element 3 times
repeat(a, 3)

In [ ]:
# tile the matrix 3 times 
tile(a, 3)

####concatenate

In [ ]:
b = array([[5, 6]])

In [ ]:
concatenate((a, b), axis=0)

In [ ]:
b.T

In [ ]:
concatenate((a, b.T), axis=1)

####vertical and horizontal stack

In [ ]:
vstack((a,b))

In [ ]:
hstack((a,b.T))

## Copy versus "deep copy"
-------
To achieve high performance, assignments in Python usually do not copy the underlaying objects. This is important for example when objects are passed between functions, to avoid an excessive amount of memory copying when it is not necessary (technical term: pass by reference).

In [ ]:
A = array([[1, 2], [3, 4]])

A

In [ ]:
# now B is referring to the same array data as A 
B = A

In [ ]:
# changing B affects A
B[0,0] = 10

B

In [ ]:
A

If we want to avoid this behavior, so that when we get a new completely independent object B copied from A, then we need to do a so-called "deep copy" using the function `copy`:

In [ ]:
B = copy(A)

In [ ]:
# now, if we modify B, A is not affected
B[0,0] = -5

B

In [ ]:
A

## Iterating over array elements
------
Generally, we want to avoid iterating over the elements of arrays whenever we can (at all costs). The reason is that in a interpreted language like Python (or MATLAB), iterations are really slow compared to vectorized operations.

However, sometimes iterations are unavoidable. For such cases, the Python `for` loop is the most convenient way to iterate over an array:

In [ ]:
v = array([1,2,3,4])

for element in v:
    print(element)

In [ ]:
M = array([[1,2], [3,4]])

for row in M:
    print("row", row)
    
    for element in row:
        print(element)

When we need to iterate over each element of an array and modify its elements, it is convenient to use the `enumerate` function to obtain both the element and its index in the `for` loop:

In [ ]:
for row_idx, row in enumerate(M):
    print("row_idx", row_idx, "row", row)
    
    for col_idx, element in enumerate(row):
        print("col_idx", col_idx, "element", element)
       
        # update the matrix M: square each element
        M[row_idx, col_idx] = element ** 2

In [ ]:
# each element in M is now squared
M

## Using arrays in conditions
-------
When using arrays in conditions,for example if statements and other boolean expressions, one needs to use `any` or `all`, which requires that any or all elements in the array evalutes to `True`:

In [ ]:
M

In [ ]:
if (M > 5).any():
    print("at least one element in M is larger than 5")
else:
    print("no element in M is larger than 5")

In [ ]:
if (M > 5).all():
    print("all elements in M are larger than 5")
else:
    print("all elements in M are not larger than 5")

In [ ]:
M[any(M>5,axis=1)]

## Type casting
---------
Since Numpy arrays are statically typed, the type of an array does not change once created. But we can explicitly cast an array of some type to another using the `astype` functions (see also the similar `asarray` function). This always create a new array of new type:

In [ ]:
M.dtype

In [ ]:
M2 = M.astype(float)

M2

In [ ]:
M2.dtype

In [ ]:
M3 = M.astype(bool)

M3

## Homework 1 with numpy

In [ ]:
# Get the datasets
!wget https://nekrut.github.io/BMMB554/yeast_genes.txt

In [ ]:
!cut -f 3 yeast_genes.txt | sort | uniq -c

In [ ]:
# First let's find out how many chromosomes:
chrom = []
for line in open('yeast_genes.txt','r'):
  if not line.startswith('#'): # ignore header
    chrom.append(line.split('\t')[2]) #split line on tabs and access the third [2] element
set(chrom)

In [ ]:
# Let's create two arrays to translate between roman and integer
# The trick here is than index of every element can be used to
# Translate roman into integer
# For example, chr_roman[1] is 'chrI'

chr_roman = ['chrmt',
 'chrI',       
 'chrII',
 'chrIII',
 'chrIV',
 'chrV',
 'chrVI',
 'chrVII',
 'chrVIII',
 'chrIX',
 'chrX',
 'chrXI',
 'chrXII',
 'chrXIII',
 'chrXIV',
 'chrXV',
 'chrXVI']

In [ ]:
chr_roman.index('chrI')

In [ ]:
# Process the dataset

names = [] # Initialize array for gene names
coord = [] # Initialize array for coordinate data

for line in open('yeast_genes.txt','r'):
  if not line.startswith('#'): # ignore header
    line = line.rstrip() # get rid of caret returns
    fields = line.split('\t') # split line on tabs to convert it into a list
    name = fields[0]
    chromosome = chr_roman.index(fields[2])
    start = int( fields[3] )
    end = int( fields[4] )
    length = end-start+1 # compute the length
    if name.split('-')[0].endswith('W'):
      strand = 1 # encode positive strand as 1
    elif name.split('-')[0].endswith('C'):
      strand = 2 # encode negative strand as 2
    else:        
      strand = 0 # encode unknown strand as 0
    names.append(name)
    coord.append([chromosome,start,end,length,strand])

In [ ]:
names[:2]

In [ ]:
!head -n 3 yeast_genes.txt

In [ ]:
# Convert coord array into numpy array
coord = array(coord)

In [ ]:
coord[:2]

In [ ]:
coord.dtype

In [ ]:
# Convert names array into numpy array
names = array(names)

In [ ]:
names[:2]

In [ ]:
# The number of genes can be inferred from array shape
coord.shape

In [ ]:
# You can see that the file as many lines + 1 (header)
!wc -l yeast_genes.txt

In [ ]:
# Longest gene is the max of the dufference between start and end
max(coord[:,2] - coord[:,1] + 1)

In [ ]:
# Or simply the maximum of the length column
max(coord[:,3])

In [ ]:
# Which gene is that?
# The index of this gene in coord array is:
argmax(coord[:,3])

In [ ]:
# It has the same index in names array:
names[4740]

In [ ]:
# Shortest gene
min(coord[:,3])

In [ ]:
# The number of genes on chromsome 10
shape(extract(coord[:,0] == 10,coord))

In [ ]:
# Longest gene on chromosome 10
max(extract(coord[:,0] == 10,coord[:,3]))

In [ ]:
# The number of genes of chromsome 1 that are on the + strand 
# (we encoded '+' as 1)
size(coord[(coord[:,0] == 1) & (coord[:,4] == 1)], axis=0)

In [ ]:
# The number of genes of chromsome 1 that are on the - strand 
# (we encoded '-' as 2)
size(coord[(coord[:,0] == 1) & (coord[:,4] == 2)], axis=0)

In [ ]:
# Let's plot distribution of gene lengths
sns.set_style('whitegrid')
sns.distplot(coord[:,3])

##  A little fun with images
------
Images are really arrays

In [ ]:
import matplotlib.pyplot as pl
import matplotlib.image as mpimg
import numpy as np

In [ ]:
import imageio
img="https://nekrut.github.io/BMMB554/img/1N1A6336.CR2.jpg"
img = imageio.imread(img)

In [ ]:
img.shape

In [ ]:
start_img[0]

In [ ]:
plt.imshow(img,cmap=plt.cm.gray)
plt.axis('off')

In [ ]:
flip = np.flipud(img)

In [ ]:
plt.imshow(flip)
plt.axis('off')